.header {

    & {
        margin-bottom: 22px;
        position: -webkit-sticky;
        position: sticky;
        top:0;
    }

    &__container {
        background-color: #fff;
        padding: 15px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .burger-button {
        display: none;
        border: none;
        background-color: transparent;
    }

    &__list{
        width: 283px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    &__link {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.9px;
        text-transform: uppercase;
        color: var(--grey--);
    }
}

