.header {
    &__container {
        display: flex;
        position: sticky;
        align-items: center;
        margin-top: 44px;
        margin-bottom: 45px;
    }

    &__list{
        width: 283px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    &__link {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.9px;
        text-transform: uppercase;
        color: var(--grey--);
    }
}

