    .works {
    
        & {
            margin-bottom: 200px;
        }

    &__container {
        margin-top: 200px;
    }

    &__header {
        
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: var($grey);
    }
    &__path {
        
        margin-top: 95px;
        width: 760px;
        height: 0;
        border: 2px solid var($pale-orange);
    }
    &__circle {
        margin-top: -18px;
        
        width: 31px;
        height: 31px;
        background: var($light-cream);
        border: 2px solid var($cyan);
        box-sizing: border-box;
        border-radius: 20px;
    }
    &__circle2 {
        margin-top: -30px;
        width: 31px;
        height: 31px;
        background: var($light-cream);
        border: 2px solid var($cyan);
        box-sizing: border-box;
        border-radius: 20px;
    }
    &__circle3 {
        margin-top: -32px;
        
        width: 31px;
        height: 31px;
        background: var($light-cream);
        border: 2px solid var($cyan);
        box-sizing: border-box;
        border-radius: 20px;
    }
    
    &__div {
        display: flex;
        
    }
    
    &__medium {
        
        margin-top: 67px;
        width: 285px;
        
    }
    
    &__medium2 {
        width: 285px;
        margin-left: 95px;
        margin-top: 67px;
        
    }
    
    &__medium3 {
        margin-left: 95px;
        margin-top: 67px;
        width: 285px;
    }
    
    &__iteam {
        width: 255px;
        margin-top: 38px;
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 36px;
        color: var($dark-grey-blue);
    }
    
    &__text {
        margin-top: 42px;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: var($dark-grey-blue);
    }
    
    &__button {
        margin-top: 64px;
    
        white-space: nowrap;
        width: 217px;
        height: 56px;
        overflow: hidden;
        text-overflow: ellipsis;
        background:#0E8784;
        border-radius: 6px;
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: #FEFCF7;
        cursor: pointer;
        border: none;
    }

    a:visited {
        color: white;
    }
}