@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/fraunces-v10-latin-900.woff2") format("woff2"), url("../fonts/fraunces-v10-latin-900.woff") format("woff");
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/barlow-v11-latin-regular.woff2") format("woff2"), url("../fonts/barlow-v11-latin-regular.woff") format("woff");
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/barlow-v11-latin-700.woff2") format("woff2"), url("../fonts/barlow-v11-latin-700.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a {
  text-decoration: none;
}

.coffe__button {
  white-space: nowrap;
  width: 217px;
  height: 56px;
  overflow: hidden;
  text-overflow: ellipsis;
  background: #0E8784;
  border-radius: 6px;
  margin-top: 56px;
  margin-left: 86px;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FEFCF7;
  cursor: pointer;
  border: none;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.header {
  margin-bottom: 22px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.header__container {
  background-color: #fff;
  padding: 15px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .burger-button {
  display: none;
  border: none;
  background-color: transparent;
}

.header__list {
  width: 283px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__link {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  color: var(--grey--);
}

.header2__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 44px;
  margin-bottom: 45px;
}

.header2__list {
  margin-top: 5px;
  margin-left: 761px;
  width: 283px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header2__link {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: var(--grey);
}

.hero__container {
  background-image: url(../images/hero-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
  padding-top: 117px;
  padding-bottom: 116px;
}

.hero__great {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 80px;
  margin-left: 86px;
  width: 493px;
  color: #FEFCF7;
  margin-bottom: 32px;
}

.hero__text {
  width: 445px;
  margin-left: 86px;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.hero .coffee-button {
  white-space: nowrap;
  width: 217px;
  height: 56px;
  overflow: hidden;
  text-overflow: ellipsis;
  background: #0E8784;
  border-radius: 6px;
  margin-top: 56px;
  margin-left: 86px;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FEFCF7;
  cursor: pointer;
  border: none;
}

.hero2__container2 {
  background-image: url(../images/hero-img2.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
  padding-bottom: 60px;
}

.hero2__container2__abaut {
  padding-top: 137px;
  padding-left: 85px;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: var(--light-cream);
}

.hero2__container2__text2 {
  width: 445px;
  margin-left: 85px;
  margin-top: 24px;
  padding-bottom: 137px;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--light-cream);
}

.overal__container {
  margin-top: 136px;
  background-image: url(../images/orta-img.png);
  background-repeat: no-repeat;
  background-position: top;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overal__list {
  margin-top: 136px;
  width: 1111px;
}

.overal__iteam {
  width: 255px;
  margin-top: -8px;
}

.overal .item__subig {
  margin-bottom: 24px;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}

.overal__text {
  text-align: center;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #333D4B;
}

.overal2 {
  margin: auto;
}

.overal2__container2 {
  margin-top: 168px;
  padding-left: 295px;
  display: -webkit-box;
}

.overal2__img {
  border-radius: 8px;
}

.overal2__iteam {
  margin-top: 95px;
  margin-left: 125px;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: var(--dark-grey-blue);
}

.overal2__text {
  width: 540px;
  margin-left: 125px;
  margin-top: 32px;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--dark-grey-blue);
  mix-blend-mode: normal;
  opacity: 0.8;
}

.choose {
  margin-bottom: 351px;
}

.choose__container {
  margin-top: 176px;
  background-color: #2C343E;
  height: 577px;
  padding-top: 100px;
}

.choose__wrapper {
  width: 540px;
  margin: auto;
  margin-top: 100px;
}

.choose__heading {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #FEFCF7;
}

.choose__text {
  margin-bottom: 86px;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  padding-top: 32px;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.choose__div {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.choose__list {
  width: 1110px;
}

.choose__iteam {
  background: #0E8784;
  border-radius: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 350px;
}

.choose__iteam2 {
  margin-left: 30px;
  background: #0E8784;
  border-radius: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 350px;
}

.choose__iteam3 {
  margin-left: 30px;
  background: #0E8784;
  border-radius: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 350px;
}

.choose__img {
  padding-top: 72px;
  padding-left: 136px;
}

.choose__clan {
  font-family: 'Fraunces';
  padding-top: 56px;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #FEFCF7;
}

.choose__iteam-header {
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #FEFCF7;
}

.choose__iteam-text {
  width: 255px;
  font-family: 'Barlow';
  padding-left: 47px;
  padding-top: 24px;
  padding-bottom: 48px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FEFCF7;
}

.works {
  margin-bottom: 200px;
}

.works__container {
  margin-top: 200px;
}

.works__header {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: var(#83888F);
}

.works__path {
  margin-top: 95px;
  width: 760px;
  height: 0;
  border: 2px solid var(#FDD6BA);
}

.works__circle {
  margin-top: -18px;
  width: 31px;
  height: 31px;
  background: var(#FEFCF7);
  border: 2px solid var(#0E8784);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
}

.works__circle2 {
  margin-top: -30px;
  width: 31px;
  height: 31px;
  background: var(#FEFCF7);
  border: 2px solid var(#0E8784);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
}

.works__circle3 {
  margin-top: -32px;
  width: 31px;
  height: 31px;
  background: var(#FEFCF7);
  border: 2px solid var(#0E8784);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
}

.works__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.works__medium {
  margin-top: 67px;
  width: 285px;
}

.works__medium2 {
  width: 285px;
  margin-left: 95px;
  margin-top: 67px;
}

.works__medium3 {
  margin-left: 95px;
  margin-top: 67px;
  width: 285px;
}

.works__iteam {
  width: 255px;
  margin-top: 38px;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: var(#333D4B);
}

.works__text {
  margin-top: 42px;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(#333D4B);
}

.works__button {
  margin-top: 64px;
  white-space: nowrap;
  width: 217px;
  height: 56px;
  overflow: hidden;
  text-overflow: ellipsis;
  background: #0E8784;
  border-radius: 6px;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FEFCF7;
  cursor: pointer;
  border: none;
}

.works a:visited {
  color: white;
}

.quality__bc {
  margin-top: 248px;
  background: #2C343E;
  border-radius: 10px;
}

.quality__bc__iteam {
  padding-top: 88px;
  margin-left: 85px;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: var(--light-cream);
}

.quality__bc__text {
  width: 540px;
  margin-top: 32px;
  margin-left: 85px;
  padding-bottom: 176px;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--light-cream);
  mix-blend-mode: normal;
  opacity: 0.8;
}

.quality__bc__img {
  position: absolute;
  margin-left: 855px;
  margin-top: -550px;
}

.quality__bc__img2 {
  border-radius: 8px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #2C343E;
  padding: 52px 85px;
}

.footer__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__ul {
  margin-left: 54px;
  margin-left: 103px;
  width: 283px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__1 {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: var(#83888F);
}

.footer .part__div {
  letter-spacing: 24px;
  margin-top: 25px;
}

.footer a:visited {
  color: white;
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 689px;
    width: 100%;
    padding: 0;
  }
  .burger-button {
    display: block;
  }
  .header {
    margin-bottom: 54px;
    padding: 0px 46px;
  }
}

@media only screen and (max-width: 375px) {
  section {
    padding: 0;
    margin: 0;
  }
  .container {
    max-width: 323px;
    width: 100%;
    padding: 0;
    margin: auto;
  }
  .header {
    margin-top: 30px;
    padding: 10px 0px;
  }
  .header__logo {
    width: 163px;
    padding-left: 0;
  }
  .header__list {
    display: none;
  }
  .header .burger-button {
    border: none;
    display: block;
  }
  .header .close {
    display: none;
  }
  .header .menu--open .header__list {
    position: absolute;
    background-color: red;
    width: 100%;
    height: 100vh;
  }
}

@media only screen and (max-width: 768px) {
  .hero__container {
    background-image: url(../images/hero-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -220px;
    border-radius: 6px;
    padding-top: 117px;
    padding-bottom: 116px;
  }
  .hero__great {
    font-family: 'Fraunces';
    font-style: normal;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 48px;
    margin-left: 58px;
    width: 329px;
    color: #FEFCF7;
    margin-bottom: 32px;
  }
  .hero__text {
    width: 398px;
    margin-left: 58px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
  }
  .hero .coffee-button {
    white-space: nowrap;
    width: 217px;
    height: 56px;
    overflow: hidden;
    text-overflow: ellipsis;
    background: #0E8784;
    border-radius: 6px;
    margin-top: 56px;
    margin-left: 58px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
    cursor: pointer;
    border: none;
  }
}

@media only screen and (max-width: 375px) {
  .hero__container {
    background-position: -520px;
  }
  .hero__great {
    width: 289px;
    height: 81px;
    margin-left: 24px;
    font-weight: 900;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 40px;
    line-height: 40px;
  }
  .hero__text {
    width: 297px;
    height: 101px;
    margin-left: 20px;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 768px) {
  .overal__container {
    margin-top: 144px;
    background-size: 689px;
    background-image: url(../images/orta-img.png);
    background-repeat: no-repeat;
    background-position: top;
  }
  .overal__list {
    margin-top: 83px;
    display: block;
    text-align: center;
  }
  .overal__iteam {
    margin-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .overal__img {
    margin-left: 58px;
  }
  .overal .item__subig {
    margin-top: 24px;
    width: 255px;
    margin-bottom: 24px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
  }
  .overal__text {
    margin-top: 24px;
    width: 282px;
    text-align: center;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #333D4B;
  }
}

@media only screen and (max-width: 375px) {
  .overal__container {
    background-size: 286px;
  }
  .overal__img {
    margin-left: 0;
  }
  .overal__iteam {
    margin: 48px;
    display: block;
    margin-left: 20px;
  }
  .overal__wrapper {
    padding-top: 0;
    margin-top: 24px;
  }
  .overal__text {
    width: 282px;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
  }
}

@media only screen and (max-width: 768px) {
  .choose {
    margin-bottom: 351px;
  }
  .choose__container {
    margin-top: 176px;
    background-color: #2C343E;
    height: 500px;
    padding-top: 100px;
  }
  .choose__wrapper {
    width: 540px;
    margin-top: 100px;
  }
  .choose__heading {
    margin-top: -150px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #FEFCF7;
  }
  .choose__text {
    margin-bottom: 86px;
    font-family: 'Barlow';
    font-style: normal;
    padding-top: 32px;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
  }
  .choose__div {
    margin-top: 70px;
  }
  .choose__list {
    display: block;
    width: 1110px;
  }
  .choose__iteam {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 24px;
    height: 180px;
    background: #0E8784;
    border-radius: 8px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 573px;
    margin-left: 57px;
  }
  .choose__img {
    padding-top: 2px;
    padding-left: 70px;
  }
  .choose__clan {
    text-align: left;
    font-family: 'Fraunces';
    margin-top: 41px;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    margin-left: 50px;
    color: #FEFCF7;
  }
  .choose__iteam-header {
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #FEFCF7;
  }
  .choose__iteam-text {
    text-align: left;
    width: 344px;
    font-family: 'Barlow';
    height: 50px;
    margin-bottom: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
  }
}

@media only screen and (max-width: 375px) {
  .choose {
    margin-bottom: 830px;
  }
  .choose__container {
    width: 327px;
    height: 902px;
    border-radius: 10px;
    margin-bottom: 0;
  }
  .choose__heading {
    width: 297px;
    margin-left: 20px;
    font-weight: 900;
    font-size: 28px;
    line-height: 28px;
    text-align: center;
  }
  .choose__text {
    width: 290px;
    height: 125px;
    margin-left: 24px;
  }
  .choose__img {
    margin-bottom: 70px;
    padding-top: 0;
    padding-left: 0;
  }
  .choose__clan {
    text-align: center;
    width: 255px;
    margin: 0px 0px 24px 0px;
    padding-top: 0;
  }
  .choose__iteam-text {
    width: 212px;
    margin: 0;
    height: 78px;
    padding-bottom: 0;
    margin-left: 35px;
    padding-left: 0;
    padding-top: 0;
  }
  .choose__list {
    width: 279px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .choose__iteam {
    padding: 130px 34px 51px 34px;
    width: 279px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .choose__clas {
    border: 1px solid red;
    width: 255px;
  }
}

@media only screen and (max-width: 768px) {
  .works {
    margin-bottom: 200px;
  }
  .works__container {
    margin-top: 200px;
  }
  .works__header {
    width: 255px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
  }
  .works__path {
    margin-top: 95px;
    width: 472px;
    height: 0;
    border: 1px solid #FDD6BA;
  }
  .works__circle {
    margin-top: -18px;
    width: 31px;
    height: 31px;
    background: #FEFCF7;
    border: 2px solid #0E8784;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 20px;
  }
  .works__circle2 {
    margin-top: -30px;
    margin-left: 230px;
    width: 31px;
    height: 31px;
    background: #FEFCF7;
    border: 2px solid #0E8784;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 20px;
  }
  .works__circle3 {
    margin-top: -32px;
    margin-left: 474px;
    width: 31px;
    height: 31px;
    background: #FEFCF7;
    border: 2px solid #0E8784;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 20px;
  }
  .works__div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .works__medium {
    margin-top: 67px;
    width: 285px;
  }
  .works__medium2 {
    margin-left: 10px;
    margin-top: 67px;
    width: 285px;
  }
  .works__medium3 {
    margin-left: 10px;
    margin-top: 67px;
    width: 285px;
  }
  .works__iteam {
    width: 223px;
    margin-top: 38px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 32px;
    color: #333D4B;
  }
  .works__text {
    text-align: left;
    width: 223px;
    height: 154px;
    margin-top: 42px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #333D4B;
  }
  .works__button {
    margin-top: 64px;
    white-space: nowrap;
    width: 217px;
    height: 56px;
    overflow: hidden;
    text-overflow: ellipsis;
    background: #0E8784;
    border-radius: 6px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
    cursor: pointer;
    border: none;
  }
  .works a:visited {
    color: white;
  }
}

@media only screen and (max-width: 768px) {
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 54px;
  }
  .footer__first {
    width: 236px;
    padding-top: 54px;
    margin-bottom: 33px;
  }
  .footer__div {
    width: 283px;
  }
  .footer__list {
    width: 283px;
  }
  .footer__ul {
    margin: 0;
  }
}
/*# sourceMappingURL=main.css.map */